In [51]:
import pandas as pd

In [52]:
df = pd.read_csv("lifestyle.csv")

In [53]:
df.head()

,Gender,First Name,Last Name,City,State,Country,Age,Annual Vacation Days,Average Monthly Spend on Entertainment,Number of Online Purchases in Last Month,...,Financial Wellness Index,Lifestyle Balance Score,Entertainment Engagement Factor,Social Responsibility Index,Work-Life Balance Indicator,Investment Risk Appetite,Eco-Consciousness Metric,Stress Management Score,Time Management Skill,Lifestyle Choice
0,male,Stephen,Graham,Melbourne,Tasmania,Australia,49,20.4558,40.4767,97.2243,...,96.4670,26.6161,2.3066,0.0000,0.0088,7.2593,0.0152,5.1301,89.3802,Eco-Friendly
1,male,Eemil,Salminen,Imatra,Lapland,Finland,43,24.9226,9.2237,82.4243,...,111.1809,31.3594,1.7568,0.1753,0.4631,6.8483,0.0000,4.0330,100.6926,Adventure Seeker
2,female,Sofia,Mitchell,Hudson,Nunavut,Canada,37,15.0584,7.9816,163.5799,...,90.3916,17.2615,1.8510,0.0410,0.0136,0.0000,0.0000,3.0287,31.9631,Urban Professional
3,male,Azzeddine,De Kanter,Borne,Drenthe,Netherlands,22,7.2753,7.0638,128.3473,...,57.1976,3.7736,1.6752,0.1308,0.8671,4.1594,0.0035,2.0505,32.1793,Budget-Conscious
4,male,Patrick,Dunn,Sunshine Coast,Queensland,Australia,38,24.6409,7.6343,126.6422,...,149.7087,28.6690,1.9106,0.0000,0.0269,6.7901,0.4293,4.7058,27.9519,Health-Conscious

In [63]:
females = df[df["Gender"] == "female"].sample(16000, random_state=523647)

In [64]:
males = df[df["Gender"] == "male"].sample(4000, random_state=124)

In [65]:
data = pd.concat([females, males], axis=0)

In [66]:
data

,Gender,First Name,Last Name,City,State,Country,Age,Annual Vacation Days,Average Monthly Spend on Entertainment,Number of Online Purchases in Last Month,...,Financial Wellness Index,Lifestyle Balance Score,Entertainment Engagement Factor,Social Responsibility Index,Work-Life Balance Indicator,Investment Risk Appetite,Eco-Consciousness Metric,Stress Management Score,Time Management Skill,Lifestyle Choice
76875,female,Esmeralda,Timchenko,Yavoriv,Zaporizka,Ukraine,37,13.5677,8.8757,133.2964,...,137.8310,12.3889,1.7754,0.2311,0.5248,6.7049,0.0123,2.4359,92.8689,Budget-Conscious
323074,female,Mira,Pereira,Palmas,Rio Grande do Norte,Brazil,47,47.7620,39.0962,87.8967,...,121.5075,39.2949,1.9238,0.0000,1.0301,0.0000,0.0000,3.5244,32.6910,Adventure Seeker
78835,female,Lia,Rey,Rueil-Malmaison,Val-D'Oise,France,52,16.0972,10.5940,160.6939,...,159.5811,20.9209,2.0382,0.0000,0.0232,5.2836,0.0113,4.6396,93.0256,Urban Professional
10080,female,Alma,Olsrud,BjÃ¸lstad,Bergen,Norway,33,28.7477,48.9045,138.5652,...,97.7902,28.8974,2.0711,0.0000,0.0000,7.8441,0.2660,3.6412,33.2916,Digital Nomad
450827,female,Rafika,Tielens,Verwolde,Overijssel,Netherlands,22,21.7784,6.3610,151.8934,...,97.9840,23.0256,1.2073,0.2275,0.0000,7.3527,0.0000,2.1053,25.7912,Fitness Enthusiast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417930,male,Shchek,Klimchuk,Gorodenka,Mikolayivska,Ukraine,31,29.9968,11.0218,128.0599,...,91.9894,35.3589,1.9385,0.0626,0.4237,0.2861,0.0000,3.6668,5.4326,Health-Conscious
216311,male,Isaac,Romero,Pamplona,La Rioja,Spain,27,25.5516,50.9636,171.3800,...,100.3606,24.4115,1.2942,0.0181,0.7176,7.7689,0.0000,1.6746,29.3982,Social Media Influencer
197766,male,Troyan,Furs,Apostolove,Zhitomirska,Ukraine,52,19.6142,8.5644,183.7241,...,102.7562,23.6296,1.8303,0.0963,0.0000,0.0000,0.8452,3.7276,24.4219,Urban Professional
195356,male,Ø¢Ø±Ù…ÛŒÙ†,Ø±Ø¶Ø§ÛŒÛŒ,ØªÙ‡Ø±Ø§Ù†,Ø®Ø±Ø§Ø³Ø§Ù† Ø±Ø¶ÙˆÛŒ,Iran,57,9.4692,43.0921,180.9660,...,97.1335,12.6735,2.3319,0.0000,0.0076,7.8447,0.4494,6.0492,77.6571,Fitness Enthusiast
255939,male,Maurice,Harris,Portlaoise,Limerick,Ireland,26,40.2710,21.8730,134.8964,...,107.1540,46.7720,2.0129,0.0697,0.3442,0.0500,0.0059,4.2718,19.5823,Health-Conscious

In [61]:
data["Gender"].value_counts()

Gender
female    8000
male      2000
Name: count, dtype: int64

In [129]:
s = data[data["Country"] == "Turkey"].sample(402, random_state=7)

In [130]:
data = data[~(data["Country"] == "Turkey")]

In [131]:
data = pd.concat([data, s], axis=0)

In [132]:
data["Country"].value_counts()

Country
United States     974
New Zealand       966
Canada            946
United Kingdom    938
Spain             907
India             896
Australia         799
Serbia            756
Iran              698
France            621
Ukraine           542
Mexico            502
Norway            475
Turkey            402
Ireland           354
Finland           302
Netherlands       269
Switzerland       200
Denmark           111
Germany            98
Brazil             59
Name: count, dtype: int64

In [133]:
data["Gender"].value_counts()

Gender
female    9432
male      2383
Name: count, dtype: int64

In [135]:
data.to_csv("Data.csv", index=False)